    field mut count{{count}} = 0;
    for u32 j in 0..3 {
        for u32 k in 0..5 {
            count{{count}} = count{{count}} + if wcomb[k]==comb{{comb}}[j] { 1 } else { 0 };
        }
    }
    r = r + if count{{count}}==3 { 1 } else { 0 };

