    for u32 i in {{indexp1}}..4 {
        field eq = if pw[i] == pw[{{index}}] { 1 } else { 0 };
        field fm1 = if pw[i] == 9 { 1 } else { 0 };
        field fm2 = if pw[{{index}}] == 9 { 1 } else { 0 };
        field fm3 = fm1 + fm2;
        field e = eq - if fm3==2 { 1 } else { 0 };
        ex = ex + e;
    }

